body{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: black;
    position:fixed;
    margin-top: 50px;
    margin-bottom: 60px;
}

nav{
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    position: sticky;
}

.pheader{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}

main{
    width: 300px;
    margin-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

section{
    background-color: rgb(191, 190, 190);
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    padding: 10%;
}

span{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}