body{
    background-color: black;
    margin: 0px;
    padding: 0px;
}

header{
    background-color: red;
    position: fixed;
    width: 100%;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    background-color:  black;
    text-align: center;
    position: sticky;
    width: 100%;
    margin-top: 80px;
    padding-top: 20px;
    height: 40px;
    display: inline-block;
}

nav a{
    font-size: 15px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-decoration: none;
    padding:0px 30px;
}

main{
    background-color: ;
    padding: 5%;
    padding-top: 1px;
    padding-bottom: 1px;
}

section{
    background-image: url(https://acortar.link/wqmaxi);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.wikipedia{
    color: white;
}

.creditos{
    font-style: italic;
}

img {
    display: block;
    width: 50%;
    margin: auto;
}

section h2{
    padding-top: 50px;
}

footer{
    width: 100%;
    font-size: 15px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding-top: 5px;
    padding-bottom: 10px;
}
